<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.01.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consequuntur dicta distinctio, fuga fugiat illo illum iusto nulla numquam quaerat sed sint vero. Beatae consectetur earum eius in iure mollitia, neque nesciunt nobis non pariatur ut voluptatum! Assumenda delectus doloremque eius laboriosam non officia quia quibusdam, repellat sunt ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consequuntur dicta distinctio, fuga fugiat illo illum iusto nulla numquam quaerat sed sint vero. Beatae consectetur earum eius in iure mollitia, neque nesciunt nobis non pariatur ut voluptatum! Assumenda delectus doloremque eius laboriosam non officia quia quibusdam, repellat sunt ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consequuntur dicta distinctio, fuga fugiat illo illum iusto nulla numquam quaerat sed sint vero. Beatae consectetur earum eius in iure mollitia, neque nesciunt nobis non pariatur ut voluptatum! Assumenda delectus doloremque eius laboriosam non officia quia quibusdam, repellat sunt ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consequuntur dicta distinctio, fuga fugiat illo illum iusto nulla numquam quaerat sed sint vero. Beatae consectetur earum eius in iure mollitia, neque nesciunt nobis non pariatur ut voluptatum! Assumenda delectus doloremque eius laboriosam non officia quia quibusdam, repellat sunt ut.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium blanditiis consequuntur dicta distinctio, fuga fugiat illo illum iusto nulla numquam quaerat sed sint vero. Beatae consectetur earum eius in iure mollitia, neque nesciunt nobis non pariatur ut voluptatum! Assumenda delectus doloremque eius laboriosam non officia quia quibusdam, repellat sunt ut.</p>
  </div>
</div>
